<div style="text-align:center">
  <h1><i class="fa fa-money" aria-hidden="true"></i> {{title}}</h1>
</div>

<div>
  <p class="text-info">
    Welcome to {{title}}.
  </p>

  <p class="text-info">
    Use {{title}} to help plan and manage your weekly or monthly budgets.
    First, enter your total budget and then add your expenses.
    Save your budget so that you can later input your actual spend to see if you stayed within your budget.
  </p>

  <app-total-budget (totalBudgetChanged)="onTotalBudgetChanged($event)"></app-total-budget>
  <app-expenses [totalBudget]="totalBudget"></app-expenses>

</div>
