<div class="expenses-container">
  <p *ngIf="expenses.length === 0" class="text text-info">
    There are currently no expenses, please click the add button below to add a new expense to this budget.
  </p>
  <div *ngIf="expenses.length > 0" class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
          <th>Expense</th>
          <th>Planned</th>
          <th>Actual</th>
          <th>Difference</th>
          <th class="expenses-action-col"></th>
        </thead>
        <tbody>
          <tr *ngFor="let expense of expenses">
            <td>
              <span *ngIf="!expense.editing && !expense.adding">{{ expense.name }}</span>
              <input *ngIf="expense.editing || expense.adding" type="text" [(ngModel)]="expense.name" />
            </td>
            <td>
                <span *ngIf="!expense.editing && !expense.adding">{{ expense.planned | currency:'GBP':true }}</span>
                <input *ngIf="expense.editing || expense.adding" type="number" [(ngModel)]="expense.planned" />
            </td>
            <td>
                <span *ngIf="!expense.editing && !expense.adding">{{ expense.actual | currency:'GBP':true }}</span>
                <input *ngIf="expense.editing || expense.adding" type="number" [(ngModel)]="expense.actual" />
            </td>
            <td>
              <span [ngClass]="{'text-danger' : expense.isActualOverPlanned()}">
                {{ expense.getPlannedActualDifference() | currency:'GBP':true }}
                <i *ngIf="expense.isActualOverPlanned()" class="fa fa-exclamation-circle" aria-hidden="true" title="You over spent on this expense."></i>
              </span>
            </td>
            <td>
              <button *ngIf="!expense.editing && !expense.adding" class="btn btn-info" title="Edit" (click)="onEdit(expense)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
              <button *ngIf="!expense.editing && !expense.adding" class="btn btn-danger" title="Delete" (click)="onDelete(expense)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <button *ngIf="expense.editing || expense.adding" class="btn btn-success" title="Save" (click)="onSave(expense)">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
              </button>
              <button *ngIf="expense.editing || expense.adding" class="btn btn-danger" title="Cancel" (click)="onCancel(expense)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
  <button class="btn btn-primary" title="Add Expense" (click)="onAdd()" [disabled]="isAddingExpenseAlready()"><i class="fa fa-plus" aria-hidden="true"></i> Add</button>
</div>
