<div class="row">
    <div class="col-sm-2">
        <input type="number"
            min="1"
            step="any"
            class="form-control"
            placeholder="Total Budget"
            [(ngModel)]="totalBudget"
            (keyup.enter)="onTotalBudgetUpdate()"
            autofocus />
    </div>
    <button type="button" class="btn btn-sm btn-success" title="Update Total Budget" (click)="onTotalBudgetUpdate()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Update</button>
</div>
